{% extends "blog/base_bootstrap.html" %}

{% block content %}
   
    {% if jokes_pages %}
        <div class="flex-column">
        {% for joke in jokes_pages %}
            <div class="joke col-sm-12 col-md-12 col-lg-12">
                <div class="right-align">
                    {{ joke.date_of_creation.date }} # {{joke.id}}
                </div>
                <div>{{joke.joke_text|linebreaksbr }}</div>
                <div class="right-align">
                    {% if user.id == joke.owner %}
                        <a href="{% url 'joke_update' joke.id %}">
                            Редактировать
                        </a>
                    {% endif %}
                    <p>{{user.id}}</p>
                    <p>{{joke.owner}}</p>
                    <a href="pass" shape="None">&#8211</a>
                     | {{joke.joke_rating}} | 
                     <a href="pass">+</a>
                </div>
            </div>
        {% endfor %}
        <ul class = "center">
            {% if jokes_pages.has_previous %}
                <li>
                    <a href = "?page={{ jokes_pages.previous_page_number }}" class = "btn btn-succes">
                        Предыдущая страница
                    </a>
                </li>
                {% else %}
                <li>
                    <a title = "Предыдущей страницы нет">
                        Предыдущая страница
                    </a>
                </li>
                {% endif %}
            {% if jokes_pages.has_next %}
                <li>
                    <a href = "?page={{ jokes_pages.next_page_number }}" class = "btn btn-succes">
                        Следующая страница
                    </a>
                </li>
                {% else %}
                <li>
                    <a title = "Следующей страницы нет">
                        Следующая страница
                    </a>
                </li>
                {% endif %}
        </ul>
    {% else %}
        <p>В базе данных нет анекдотов</p>
    {% endif %}
    </div>
{% endblock %}